.header {
    font-size: medium;
    text-align: center;
    padding: 15px 15px;
    background: whitesmoke;
}

.header form {
    float: left;
    padding: 0 7px;
}

.header form input {
    background: whitesmoke;
    color: dodgerblue;
    border: none;
    font-size: large;
}

.header form input:hover {
    cursor: pointer;
}