body {
    background-size: cover;
}

.form_reg_block{
    width: 525px;
    margin: 0 auto;
}
.form_reg_block_content{
    padding-top: 5%;
}
.form_reg_block_head_text{
    display: block;
    text-align: center;
    font-size: 250%;
    color: blue;
}
.form_reg_block label{
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    color: blue;
    margin-bottom: 5px;
    margin-top: 5px;
}
.form_reg_block input{
    display: block;
    margin: 0 auto;
    padding-left: 10px;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    outline: none;
}
.form_reg_block .form_reg_button{
    font-size: 150%;
    color: blue;
    display: block;
    height: 50px;
    width: 50%;
    border: none;
    cursor: pointer;
}
.form_reg_block .prompt{
    font-size: medium;
    padding-bottom: 10px;
}